* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background:url(https://i.pinimg.com/236x/7d/6d/c9/7d6dc903d2ae934f50424f95ce20fe74.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
}

.slider {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}
input {
    display: none;
}

.tab {
    width: 20%;
    transition: 2s;
}

img {
    width: 800px;
    height: 500px;

}

.manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #40D3DC;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}
.auto{
    position: absolute;
    display: none;
}
.auto div{
    border: 2px solid #40D3DC;
padding: 5px;
border-radius: 10px;
transition: 1s;
}

.auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .auto .auto-btn1{
    margin-left: 0;
}

#radio2:checked ~ .auto .auto-btn2 {
    margin-left: -20%;
}

#radio3:checked ~ .auto .auto-btn3 {
    margin-left: -40%;
}

#radio4:checked ~ .auto .auto-btn4 {
    margin-left: -60%;
}