body{
    background: url(Screenshot\ 2024-10-30\ 202700.png);
   background-size: cover;
}
.container{
    height: 200px;
    width: 600px;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto;
}
.fireworks{
     list-style-type: none;
     padding: 0%;
     position: absolute;
     bottom: -370px;
     width: 1300px;
}
li{
    display: inline-block;
    margin: 20px;
    height: 120px;
    width: 120px;
    border-radius: 500px;
    position: relative;
    margin-left: 435px;
    background-color: #8d6e63;
    box-sizing: 0 2px 5px rgbs(0,0,0,0.5);
}
li:nth-child(1){
    margin-left: -50px;
}
li::before{
    content: "";
    position: absolute;
    height: 100%;
    background-color: #18102b;
    width: 100%;
    border-radius: 500px;
    top: -40%;
    left: -30%;
}
li::after{
    content: "";
    position: absolute;
    height: 100%;
    background-color: #17122c;
    width: 100%;
    border-radius: 500px;
    top: -40%;
    left: 30%;
}
span{
    display: inline-block;
    height: 40px;
    width: 40px !important;
    position: absolute;
    left: 0%;
    top: 22px;
    right: 0;
    margin: auto;
    z-index: 1;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    transform: rotate(45deg);
    animation: fire 0.3s ease infinite;
}
li:nth-child(1) span{animation-delay: 0.5s;}
li:nth-child(1) span{animation-delay: 1s;}
@keyframes fire {
    0%,100%{
        transform: rotate(55deg);
        width: 20px;
        background: linear-gradient(90deg, orange, orangered);
    }
    50%{
        transform: rotate(35deg);
        width: 18px;
        background: linear-gradient(90deg, orangered, orangered);
    }
}